block variables
.modal(class=`${modalTheme} ${modalClass}`)
   .wrapper
      .modal__content
         block image
         h1.modal__title= modalTitle
         block content
         button.modal__close(class=`${modalClass}__close`)
