.callback-modal {
   &__image {
      display: none;
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;

      @include atSmall {
         display: block;
      }
   }

   &__text {
      margin-bottom: 1rem;
      font-size: $smallFont;

      padding: {
         left: 1rem;
         right: 1rem;
      }
   }

   &__phone-block {
      margin-bottom: 2.7rem;
   }

   &__submit {
      $btnColor: $mainColor;
      background-color: $btnColor;
      border-color: $btnColor;
      color: #fff;

      &:hover {
         color: #fff;
         border-color: getDarkerColor($btnColor);
         background-color: getDarkerColor($btnColor);
      }
   }
}
