@mixin setThemeColors($themeName, $subTxtBgColor, $subTxtColor, $mainTxtColor) {
   $themeSelector: if($themeName, '&--' + $themeName, null);
   #{$themeSelector} &__subtext-bg {
      fill: $subTxtBgColor;
   }

   #{$themeSelector} &__subtext {
      fill: $subTxtColor;
   }

   #{$themeSelector} &__main-text {
      fill: $mainTxtColor;
   }
}

.logo {
   width: 100%;
   padding-left: 7px;

   @include setThemeColors(null, $mainColor, #fff, $mainColor);
   @include setThemeColors('light', #fff, $mainColor, #fff);
}
