.main-menu {
   font-size: $smallFont;
   font-weight: 400;
   display: flex;
   justify-content: center;
   position: relative;
   overflow: hidden;

   @include atXLarge {
      font-size: $mediumFont;
   }

   &__item {
      a {
         color: $fontColor;
         display: inline-block;
         padding: 1.8rem 1.5rem;
         white-space: nowrap;

         &:hover {
            color: $mainColor;
         }

         @include atLarge {
            padding: 1.8rem 2rem;
         }
      }
   }

   &__item--active {
      color: $mainColor;

      a {
         color: $mainColor;
      }
   }

   &__submenu-icon {
      margin-left: 0.6rem;
      position: relative;
      top: -0.2rem;
   }
}
