@mixin setThemeColors(
   $themeName,
   $commentColor,
   $numberColor,
   $numberHoverColor
) {
   $themeSelector: if($themeName, '&--' + $themeName, null);
   #{$themeSelector} &__comment {
      color: $commentColor;
      font-size: $smallFont;
      white-space: nowrap;
      margin-bottom: 0.2rem;
   }

   #{$themeSelector} &__number {
      font-size: $largeFont;
      font-weight: 600;

      a {
         color: $numberColor;
         white-space: nowrap;

         &:hover {
            color: $numberHoverColor;
         }
      }
   }
}

.phone-block {
   text-align: right;

   @include setThemeColors(null, $secondaryFontColor, $fontColor, $mainColor);
   @include setThemeColors('light', #fff, #fff, rgba(#fff, 0.9));
}
