@use "sass:color";

@mixin defineSpecSmItem($smName, $smColor) {
   &--#{$smName} {
      transition: all $transitionTime;
      background-color: $smColor;

      &:hover {
         background-color: getDarkerColor($smColor);
      }
   }
}

.social-media-list {
   display: inline-flex;

   &__item {
      width: 2.2rem;
      height: 2.2rem;
      font-size: $mediumFont;
      margin-right: 0.4rem;
      border-radius: 50%;
      color: #fff;

      &:last-child {
         margin-right: 0;
      }

      a {
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #fff;
      }

      @include defineSpecSmItem('inst', $mainColor);
      @include defineSpecSmItem('vk', $mainColor);
      @include defineSpecSmItem('fb', $mainColor);
      @include defineSpecSmItem('odnkl', $mainColor);
      @include defineSpecSmItem('ytb', $mainColor);
   }
}
