.book-appointment-section {
   background-color: $mainColor;

   &__title {
      color: #fff;
   }

   &__form {
      max-width: 50rem;

      margin: {
         left: auto;
         right: auto;
      }

      %first-col-fields {
         @include atSmall {
            padding-right: 1rem;
         }
      }

      %every-field {
         padding-bottom: 1rem;
      }
   }

   &__name-block {
      @extend %first-col-fields;
      @extend %every-field;
   }

   &__phone-block {
      @extend %every-field;
   }

   &__callback-time-block {
      @extend %first-col-fields;
      @extend %every-field;
   }

   &__office-address-block {
      @extend %every-field;
   }

   &__submit-block {
      @extend %every-field;
      padding-top: 0.5rem;
      text-align: right;
   }

   &__submit-btn {
      width: 100%;
      $btnColor: $accentColor;
      background-color: $btnColor;
      border-color: $btnColor;
      box-shadow: 0 5px 5px rgba($fontColor, 0.3);
      color: #fff;

      &:hover {
         background-color: getLighterColor($btnColor);
         border-color: getLighterColor($btnColor);
         box-shadow: 0 8px 5px rgba($fontColor, 0.3);
         color: #fff;
      }

      @include atSmall {
         width: auto;
      }
   }
}
