.btn {
   transition: all $mainHoverTransitionTime;
   padding: 0.7rem 1.5rem;
   background-color: $mainColor;
   border-radius: 25px;
   color: #fff;
   text-transform: uppercase;
   font-size: $smallFontSize;
   display: inline-block;
   white-space: nowrap;
   outline: none;
   border: none;
   cursor: pointer;

   &:hover {
      color: #fff;
      background-color: getDarkerColor($mainColor);
   }

   &--white {
      color: $mainFontColor;
      background-color: #fff;
      &:hover {
         color: $mainFontColor;
         background-color: #fff;
         box-shadow: 0 5px 5px rgba($mainFontColor, 0.3);
      }
   }

   &--cta-shadowed {
      background-color: $accentColor;

      &:hover {
   }

   &--bold {
      font-weight: 600;
   }
}
