.footer {
   &__top-section {
      background-color: $mainColor;

      padding: {
         top: 4rem;
         bottom: 4rem;
      }

      @include atMedium {
         padding: {
            top: 2rem;
            bottom: 2rem;
         }
      }
   }

   &__logo {
      text-align: center;
      width: 200px;

      margin: {
         left: auto;
         right: auto;
      }

      @include atMedium {
         margin-left: 0;
         text-align: left;
      }

      @include atLarge {
         width: 250px;
      }
   }

   &__office-hours {
      text-align: center;
      color: #fff;

      span {
         white-space: nowrap;
      }

      @include atMedium {
         text-align: right;
      }
   }

   &__office-hours-title {
      font-size: $smallFontSize;
      margin-bottom: 0.2rem;
   }

   &__phone {
      text-align: center;

      @include atLarge {
         text-align: right;
      }
   }

   &__clbk-block {
      text-align: center;

      @include atMedium {
         text-align: right;
      }
   }

   &__other-list-toggle {
      position: relative;
      color: $mainFontColor;
      font-size: $largeFontSize;
      cursor: pointer;
      font-weight: 400;
      border-bottom: 1px solid $mainOutlineColor;
      transition: all $mainHoverTransitionTime;

      padding: {
         top: 1rem;
         bottom: 1rem;
      }

      &:hover {
         color: $mainColor;
      }

      &::after {
         font-size: 1rem;
         position: absolute;
         right: 1rem;
         top: 50%;
         transform: translateY(-50%) rotate(0deg);
         transition: transform $mainHoverTransitionTime;
         font-family: 'Font Awesome 5 Free';
         font-weight: 600;
         content: '\f078';
      }

      &--opened {
         &::after {
            transform: translateY(-50%) rotate(180deg);
         }
      }

      @include atMedium {
         display: none;
      }
   }

   &__other-link-list {
      @mixin isVisible() {
         height: 100%;
         opacity: 1;
         visibility: visible;
      }

      list-style-type: none;
      font-size: $smallFontSize;
      border-bottom: 1px solid $mainOutlineColor;
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s, opacity 0.2s, height 0.2s, padding 0.2s;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0;
      height: 0;

      padding: {
         right: 0;
         left: 1rem;
         top: 0;
         bottom: 0;
      }

      &--is-visible {
         @include isVisible();

         padding: {
            right: 0;
            left: 1rem;
            top: 2rem;
            bottom: 2rem;
         }
      }

      a {
         color: $mainFontColor;
         white-space: nowrap;

         &:hover {
            color: $mainColor;
         }
      }

      @include atMedium {
         flex-direction: row;
         @include isVisible();

         padding: {
            left: 0;
            right: 1rem;
            top: 0;
            bottom: 0;
         }
      }
   }

   &__other-list-item {
      position: relative;
      margin-bottom: 2rem;
      padding-right: 2rem;

      &:last-child {
         margin-bottom: 0;
         padding-right: 0;
      }

      @include atMedium {
         padding: {
            left: 0;
            bottom: 0;
         }

         margin: {
            top: 2rem;
            bottom: 2rem;
         }
      }
   }

   &__services {
      border-bottom: 1px solid getLighterColor($mainColor, 80%);
      font-size: $smallFontSize;
      text-align: left;
   }

   &__services-list {
      list-style-type: none;
      padding: 0;
   }

   &__services-list-item {
      margin-bottom: 1rem;

      a {
         color: $mainFontColor;

         &:hover {
            color: $mainColor;
         }
      }
   }

   &__bottom-section {
      padding: {
         top: 2rem;
         bottom: 2rem;
      }
   }

   &__social-media {
      text-align: center;
      margin-bottom: 1rem;

      padding: {
         top: 2rem;
         bottom: 2rem;
      }

      @include atMedium {
         text-align: right;
         margin-bottom: 0;
      }
   }

   &__social-media-comment {
      margin-bottom: 1rem;
      font-size: $smallFontSize;
   }

   &__company-info {
      text-align: center;
      color: $secondaryFontColor;
      font-size: $smallFontSize;

      @include atMedium {
         text-align: left;
      }
   }
}
