@mixin setSharedInputProps($types) {
   @each $type in $types {
      &[type='#{$type}'] {
         @extend %input-field;
      }
   }
}
.form {
   %input-field {
      color: $mainFontColor;
      padding: {
         top: 0.7rem;
         right: 2.5rem;
         bottom: 0.7rem;
         left: 0.7rem;
      }

      border-radius: 0.5rem;
      width: 100%;
      border: 3px solid transparent;
      outline: none;
      position: relative;
      transition: all $mainHoverTransitionTime;
      box-shadow: none;
      background-position: right 10px center;
      background-repeat: no-repeat;

      &:focus {
         outline: none;
         border-color: rgba($color: $mainColor, $alpha: 0.3);
      }

      &.invalid {
         background-image: url('../images/invalid.svg');
      }

      &.valid {
         background-image: url('../images/valid.svg');
      }
   }

   input {
      @include setSharedInputProps(
         (
            text,
            tel,
            email,
            date,
            datetime-local,
            month,
            number,
            password,
            time,
            url,
            search,
            week,
            datetime,
            color
         )
      );
   }

   select {
      @extend %input-field;
      appearance: none;
   }

   option {
      color: $secondaryFontColor;
   }
}
