@mixin setSharedInputProps($types) {
   @each $type in $types {
      &[type='#{$type}'] {
         @extend %input-field;
      }
   }
}

@mixin setThemeColors($themeName, $shadowColor) {
   $themeSelector: if($themeName, '&--' + $themeName, null);
   #{$themeSelector} input {
      @include setSharedInputProps(
         (
            text,
            tel,
            email,
            date,
            datetime-local,
            month,
            number,
            password,
            time,
            url,
            search,
            week,
            datetime,
            color
         )
      );
      box-shadow: 0px 0px 0px 1px $shadowColor inset;
   }

   #{$themeSelector} select {
      @extend %input-field;
      appearance: none;
      box-shadow: 0px 0px 0px 1px $shadowColor inset;

      &::-ms-expand {
         display: none;
      }
   }

   #{$themeSelector} option {
      color: $secondaryFontColor;
   }
}

.form {
   %input-field {
      color: $fontColor;
      padding: {
         top: 0.89rem;
         right: 2.69rem;
         bottom: 0.89rem;
         left: 0.89rem;
      }

      border-radius: 0.5rem;
      width: 100%;
      border: none;
      outline: none;
      position: relative;
      transition: all $transitionTime;
      background-position: right 10px center;
      background-repeat: no-repeat;

      &::-ms-clear {
         display: none;
      }

      &:focus {
         outline: none;
         box-shadow: 0px 0px 0px 3px rgba($color: $mainColor, $alpha: 0.4) inset;
      }

      &.invalid {
         background-image: url('../images/form/invalid.svg');
      }

      &.valid {
         background-image: url('../images/form/valid.svg');
      }
   }

   @include setThemeColors(null, transparent);
   @include setThemeColors('light', $outlineColor);
}
