.header {
   position: relative;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: $header;
   background-color: #fff;
   box-shadow: 0 0 33px rgba($fontColor, 0.15);
   transform: translateY(-100%);
   transition: all 0.3s;

   &--is-visible {
      transform: translateY(0);
   }

   &__top-section {
      padding: {
         top: 0.8rem;
         bottom: 0.8rem;
      }

      border: {
         bottom: 1px solid $outlineColor;
      }

      @include atSmall {
         border: none;
      }
   }

   &__menu-button {
      background-color: #fff;
      border: none;
      padding: 0.3rem 0.6rem;
      outline: none;
      color: $mainColor;
      font-size: $largeFont;
      cursor: pointer;

      &:hover {
         color: getDarkerColor($mainColor);
      }
   }

   &__logo {
      text-align: center;
      width: 150px;

      margin: {
         left: auto;
         right: auto;
      }

      @include atXSmall {
         width: 200px;
      }

      @include atMedium {
         margin-left: 0;
         text-align: left;
      }

      @include atLarge {
         width: 250px;
      }
   }

   &__our-clinics {
      text-align: right;
      font-size: $smallFont;

      @include atXLarge {
         text-align: center;
      }
   }

   &__clinics-count {
      font-weight: 500;
   }

   &__clinics-pin-icon {
      position: relative;
      top: -0.06rem;
   }

   &__phone {
      text-align: center;

      @include atLarge {
         text-align: right;
      }
   }

   &__phone-icon {
      text-align: right;
      font-size: $largeFont;
   }

   &__top-clbk-block {
      text-align: right;
   }

   &__nav-section {
      display: none;
      overflow-x: hidden;

      @include atMedium {
         display: block;

         border: {
            top: 1px solid $outlineColor;
         }
      }
   }

   &__navbar-clbk-block {
      text-align: right;
   }
}
