.main-menu {
   font-size: $smallFontSize;
   font-weight: 400;
   display: flex;
   list-style: none;
   justify-content: center;
   padding: 0;
   margin: 0;
   position: relative;
   overflow: hidden;

   @include atXLarge {
      font-size: $mainFontSize;
   }

   &__item {
      a {
         color: $mainFontColor;
         display: inline-block;
         padding: 1.8rem 1.5rem;
         white-space: nowrap;

         &:hover {
            color: $mainColor;
         }

         @include atLarge {
            padding: 1.8rem 2rem;
         }
      }
   }

   &__item--active {
      color: $mainColor;

      a {
         color: $mainColor;
      }
   }

   &__submenu-icon {
      margin-left: 0.6rem;
      position: relative;
      top: -0.2rem;
   }
}
