.main-menu {
   font-size: $smallFontSize;
   font-weight: 400;
   display: flex;
   list-style: none;
   justify-content: center;
   padding: 0;
   margin: 0;
   position: relative;
   overflow: hidden;

   @include atXLarge {
      font-size: $mainFontSize;
   }

   &__item {
      a {
         color: $mainFontColor;
         display: inline-block;
         padding: 1.8rem 1.5rem;
         white-space: nowrap;

         &:hover {
            color: $mainColor;
         }
      }
   }

   &__submenu-icon {
      color: $mainColor;
      margin-left: 0.6rem;
      position: relative;
      top: -0.2rem;
   }

   &__submenu {
      padding: {
         top: 1.5rem;
         bottom: 1.5rem;
         right: 1rem;
         left: 1rem;
      }
      list-style: none;

      @include atSmall {
         padding: {
            top: 3.5rem;
            bottom: 3.5rem;
         }
      }

      @include atLarge {
         padding: {
            right: 2rem;
            left: 2rem;
         }
      }
   }

   &__submenu-content {
      font-size: $smallFontSize;

      @include atXLarge {
         font-size: $mainFontSize;
      }
   }

   &__submenu-field-title {
      font-size: $smallFontSize;
      text-transform: uppercase;
      border-bottom: 1px solid $mainOutlineColor;
      display: inline-block;
      padding-bottom: 0.5rem;

      margin: {
         top: 0;
         bottom: 0.8rem;
      }

      @include atXLarge {
         font-size: $mainFontSize;
      }

      a {
         color: $mainFontColor;
         &:hover {
            color: $mainColor;
         }
      }
   }

   &__submenu-field-list {
      list-style: none;
      padding: 0;
      margin: 0;
   }

   &__submenu-field-item {
      margin-bottom: 0.5rem;

      &:last-child {
         margin-bottom: 0;
      }

      a {
         color: $mainFontColor;

         &:hover {
            color: $mainColor;
         }
      }
   }
}
