.sent-message-modal {
   &__text {
      margin-bottom: 1.5rem;
      font-size: $smallFontSize;

      padding: {
         left: 1rem;
         right: 1rem;
      }
   }

   &__ok-btn {
      width: 7rem;
      $btnColor: $successfulColor;
      background-color: $btnColor;
      color: #fff;
      border-color: $btnColor;

      &:hover {
         background-color: getDarkerColor($btnColor);
         border: 1px solid $btnColor;
      }
   }
}
