.services-section {
   border-top: 1px solid $outlineColor;

   &__services-list {
      width: 100%;

      margin: {
         left: auto;
         right: auto;
         bottom: 2rem;
      }

      @include atSmall {
         width: 30rem;
         margin-bottom: 4rem;
      }

      @include atMedium {
         width: 35rem;
      }

      @include atLarge {
         width: 50rem;
      }
   }

   &__service-item {
      padding: 2rem;
      height: 100%;
      display: flex;
      justify-content: center;
   }

   &__service-item-content {
      color: $fontColor;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
         color: $fontColor;
      }
   }

   &__service-icon {
      background-image: url('../images/services/service_1.png');
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
      padding: 4rem;
      margin-bottom: 1rem;
      border: 1px solid $outlineColor;
      transition: all $transitionTime;
   }

   &__service-item-content:hover &__service-icon {
      transform: translateY(-0.5rem);
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
   }

   &__service-title {
      text-align: center;
      width: 12rem;
   }

   &__full-list-btn-block {
      text-align: center;
   }

   &__details-btn {
      background-color: $accentColor;
      color: #fff;
      border-color: $accentColor;

      &:hover {
         background-color: rgba($color: #000000, $alpha: 0);
         border: 1px solid $accentColor;
         color: $accentColor;
      }
   }
}
