extends layout/main
block page
   .page-404
      .page-404__content
         .page-404__error-code 404
         .page-404__text Увы! Страница, которую вы ищите, не существует!
         a.page-404__return-link.btn(href='/') Вернуться на главную
