* {
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   color: $mainColor;
   transition: all $mainHoverTransitionTime;
   cursor: pointer;

   &:hover {
      color: getDarkerColor($mainColor);
   }
}

body {
   min-width: $XXSmall;
   font-family: 'Rubik', sans-serif;
   color: $mainFontColor;
   font-size: $mainFontSize;
   padding: 0;
   margin: 0;
}

button {
   background: none;
   outline: none;
   border: none;
   font-family: inherit;
   font-size: $mainFontSize;
   color: $mainFontColor;
   cursor: pointer;
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style-type: none;
}
