@mixin atXXSmall($adjustment: null) {
   @media (min-width: $XXSmall + $adjustment) {
      @content;
   }
}

@mixin atXSmall($adjustment: null) {
   @media (min-width: $XSmall + $adjustment) {
      @content;
   }
}

@mixin atSmall($adjustment: null) {
   @media (min-width: $small + $adjustment) {
      @content;
   }
}

@mixin atMedium($adjustment: null) {
   @media (min-width: $medium + $adjustment) {
      @content;
   }
}

@mixin atLarge($adjustment: null) {
   @media (min-width: $large + $adjustment) {
      @content;
   }
}

@mixin atXLarge($adjustment: null) {
   @media (min-width: $XLarge + $adjustment) {
      @content;
   }
}

@mixin clearfix {
   &::after {
      content: '';
      clear: both;
      display: block;
   }
}
