@use 'sass:color';

@function getDarkerColor($color, $decreaseVal: 20%) {
   @return color.scale($color, $lightness: -$decreaseVal);
}

@function getLighterColor($color, $increaseVal: 20%) {
   @return color.scale($color, $lightness: $increaseVal);
}

$mainColor: #1d7cf8;
$accentColor: #ffc909;
$errorColor: #ff0909;
$successfulColor: #34bc34;
$fontColor: color.change($mainColor, $lightness: 10%);
$secondaryFontColor: color.change(
   $mainColor,
   $saturation: 10%,
   $lightness: 55%
);
$outlineColor: color.change($mainColor, $saturation: 10%, $lightness: 90%);

$XXSmall: 320px;
$XSmall: 480px;
$small: 600px;
$medium: 768px;
$large: 992px;
$XLarge: 1200px;

$mediumFont: 1rem;
$smallFont: 0.875rem;
$largeFont: 1.25rem;

$transitionTime: 0.3s;
