@use 'sass:color';

@function getDarkerColor($color, $decreaseVal: 20%) {
   @return color.scale($color, $lightness: -$decreaseVal);
}

$mainColor: #1d7cf8;
$accentColor: #ffc909;
$mainFontColor: color.change($mainColor, $lightness: 10%);
$secondaryFontColor: color.change(
   $mainColor,
   $saturation: 10%,
   $lightness: 65%
);
$mainOutlineColor: color.change($mainColor, $saturation: 10%, $lightness: 90%);

$xXSmall: 320px;
$xSmall: 480px;
$small: 600px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;

$mainFontSize: 1rem;
$smallFontSize: 0.875rem;
$largeFontSize: 1.25rem;

$mainHoverTransitionTime: 0.3s;
