- var callbackBtnText = "Заказать звонок";
- var phoneNumber = "+7 495 000-00-XX";

-
   var servicesList = [{
       title: "Диагностика",
       alias: "diagnistics",
       items: [
           "Консультация стоматолога",
           "Рентгенология и компьютерная томография"
           ] 
        },
        {
        title: "Ортодонтия",
        alias: "orthodontics",
        items: [
            "Исправление прикуса"
            ]
        },
        { 
        title: "Терапевтическая стоматология",
        alias: "therapeutic-dentistry",
        items: [
            "Лечение кариеса зубов",
            "Лечение каналов зуба"
            ]
        },
        { 
        title: "Хирургия и Имплантация",
        alias: "implants-surgery",
        items: [
            "Имплантация зубов",
            "Имплантация при полном отсутствии зубов",
            "Хирургическое лечение",
            "Удаление зубов"
            ]
        },
        { 
        title: "Пародонтология",
        alias: "periodontics",
        items: [
            "Лечение дёсен",
            "Лечение гингивита"
            ] },
        {
        title: "Эстетическая стоматология",
        alias: "сosmetic-dentistry",
        items: [
            "Реставрация зубов",
            "Виниры, эстетика десны"
            ]
        }
        ];
   
-
   var navLinks = [{ 
       link: "Услуги",
       hasSubMenu: true,
       id: 'services',
       submenu: servicesList 
       },
       { 
       link: "Акции",
       hasSubMenu: false,
       id: 'offers',
       submenu: null
       },
       {
       link: "Цены",
       hasSubMenu: false,
       id: 'prices',
       submenu: null
       },
       {
       link: "Врачи",
       hasSubMenu: false,
       id: 'team',
       submenu: null
       },
       {
       link: "До и после",
       hasSubMenu: false,
       id: 'portfolio',
       submenu: null
       }, 
       {
       link: "О нас",
       hasSubMenu: false,
       id: 'about-us',
       submenu: null
       },
       {
       link: "Контакты", 
       hasSubMenu: false,
       id: 'contacts',
       submenu: null
       }
       ];
-
   var otherLinkList = [
       "Памятка",
       "Вопросы-ответы",
       "Технологии",
       "Статьи",
       "Новости",
       "Партнеры"
       ];
-
   var teamMembers = [{
        surName: "Ворохов", 
        namePatronymic: "Иван Геннадьевич",  
        descr: "Главный врач, стоматолог-хирург, челюстно-лицевой хирург, имплантолог",
        experience: '26 лет',
        imgName: 'vorokhov_01'
      },
      {
        surName: "Буденов", 
        namePatronymic: "Игорь Валерьевич",  
        descr: "	Заместитель главного врача, Челюстно-лицевой хирург, имплантолог",
        experience: '20 лет',
        imgName: 'budenov_01'
      },
      {
        surName: "Аганесян", 
        namePatronymic: "Инна Игоревна",  
        descr: "Стоматолог-ортопед",
        experience: '16 лет',
        imgName: 'aganesyan_01'
      },
      {
        surName: "Беляева", 
        namePatronymic: "Елена Ивановна",  
        descr: "Анестезиолог-реаниматолог",
        experience: '19 лет',
        imgName: 'belayeva_01'
      },
      {
        surName: "Плотников", 
        namePatronymic: "Павел Сергеевич",  
        descr: "Стоматолог-гигиенист",
        experience: '14 лет',
        imgName: 'plotnikov_01'
      },
      {
        surName: "Терентьева", 
        namePatronymic: "Алла Петровна",  
        descr: "Стоматолог-терапевт",
        experience: '15 лет',
        imgName: 'terentyeva_01'
      }
      ];
   
-
   var offers = [{
     title: 'Лечение зубов во сне',
     oldOffer: '13 000',
     newOffer: '5 500',
     expirationDate: '14 сентября',
     alias: 'heal-dream'
   
   },
   {
     title: 'Челюсть на 4 имплантах',
     oldOffer: '340 000',
     newOffer: '139 000',
     expirationDate: '20 августа',
      alias: 'jaw-4-iml'
   
   },
   {
     title: 'Имплант + циркониевая коронка',
     oldOffer: '70 000',
     newOffer: '28 400',
     expirationDate: '5 июня',
     alias: 'impl-zirc-crown'
   
   }
   ];
   
-
   var offices = [
   {
     address: 'г. Москва, ул. Староконюшенный переулок, 32',
     subway: 'Арбатская',
     officeHours: 'ежедневно c 9:00 до 22:00',
     phoneNumber: '+7 495 000-00-XX',
     email: 'info@fake-stomatology.xx',
     id: 'office-arbat',
     coordinates: [55.74958, 37.59533]
   },
   {
     address: 'г. Москва, пр-т. Волгоградский, 6',
     subway: 'Пролетарская',
     officeHours: 'ежедневно c 9:00 до 22:00',
     phoneNumber: '+7 495 000-00-XX',
     email: 'info@fake-stomatology.xx',
     id: 'office-prolet',
     coordinates: [55.73067, 37.67083]
   },
   {
     address: 'г. Москва, ул. Большая Грузинская, 69',
     subway: 'Белорусская',
     officeHours: 'ежедневно c 9:00 до 22:00',
     phoneNumber: '+7 495 000-00-XX',
     email: 'info@fake-stomatology.xx',
     id: 'office-belorus',
     coordinates: [55.77396, 37.58629]
   },   
   ];
