- var callbackBtnText = "Заказать звонок";
- var phoneNumber = "+7 495 241-66-87";
-
   var navLinks = [{ 
       link: "Услуги",
       hasSubMenu: true
       },
       { 
       link: "Акции",
       hasSubMenu: false
       },
       {
       link: "Цены",
       hasSubMenu: false
       },
       {
       link: "Врачи",
       hasSubMenu: false
       },
       {
       link: "До и после",
       hasSubMenu: false
       }, 
       {
       link: "О нас",
       hasSubMenu: false
       },
       {
       link: "Контакты", 
       hasSubMenu: false
       }
       ];
-
   var serviesSubMenu = [{
       title: "Диагностика",
       items: [
           "Консультация стоматолога",
           "Рентгенология и компьютерная томография"
           ] 
        },
        {
        title: "Ортопедия",
        items: [
            "Протезирование зубов",
            "Гнатология",
            "Коронки на зубы"
            ]
         },
        { 
        title: "Анестезиология",
        items: [
            "Лечение под закисью азота",
            "Лечение под общим наркозом",
            "Медикаментозная седация с ДЕКСДОРОМ",
            "Лечение зубов во сне с седацией"
            ]
        },
        {
        title: "Ортодонтия",
        items: [
            "Исправление прикуса"
            ]
        },
        { 
        title: "Терапевтическая стоматология",
        items: [
            "Лечение кариеса зубов",
            "Лечение каналов зуба"
            ]
        },
        { 
        title: "Хирургия и Имплантация",
        items: [
            "Имплантация зубов",
            "Имплантация при полном отсутствии зубов",
            "Хирургическое лечение",
            "Удаление зубов"
            ]
        },
        { 
        title: "Пародонтология",
        items: [
            "Лечение дёсен",
            "Лечение гингивита"
            ] },
        {
        title: "Эстетическая стоматология",
        items: [
            "Реставрация зубов",
            "Виниры, эстетика десны"
            ]
        },
        {
        title: "Комплексная стоматология",
        items: [
            "Комплексная гигиена  (AirFlow, УЗ, фторирование)",
            "Отбеливание зубов: системы и цены",
            "Отбеливание зубов"
            ]
        }
        ];
-
   var otherLinkList = [
       "Памятка",
       "Вопросы-ответы",
       "Технологии",
       "Статьи",
       "Новости",
       "Партнеры"
       ];
-
   var teamMembers = [{
        surName: "Ворохов", 
        namePatronymic: "Иван Геннадьевич",  
        descr: "Главный врач, стоматолог-хирург, челюстно-лицевой хирург, имплантолог",
        experience: '26 лет',
        imgName: 'vorokhov_01'
      },
      {
        surName: "Буденов", 
        namePatronymic: "Игорь Валерьевич",  
        descr: "	Заместитель главного врача, Челюстно-лицевой хирург, имплантолог",
        experience: '20 лет',
        imgName: 'budenov_01'
      },
      {
        surName: "Аганесян", 
        namePatronymic: "Инна Игоревна",  
        descr: "Стоматолог-ортопед",
        experience: '16 лет',
        imgName: 'aganesyan_01'
      },
      {
        surName: "Беляева", 
        namePatronymic: "Елена Ивановна",  
        descr: "Анестезиолог-реаниматолог",
        experience: '19 лет',
        imgName: 'belayeva_01'
      },
      {
        surName: "Плотников", 
        namePatronymic: "Павел Сергеевич",  
        descr: "Стоматолог-гигиенист",
        experience: '14 лет',
        imgName: 'plotnikov_01'
      },
      {
        surName: "Терентьева", 
        namePatronymic: "Алла Петровна",  
        descr: "Стоматолог-терапевт",
        experience: '15 лет',
        imgName: 'terentyeva_01'
      }
      ];
