include ../base/variables
footer.footer
   .footer__top-section
      .wrapper
         .row.row--content-v-centered.row--wrap.row--wrap-b-margin
            .row__col-smallest-12.row__col-M-4.row__col-L-4.row__col-XL-3
               .footer__logo
                  a(href='/') 
                     img.logo(src=`./assets/images/logo-light.svg`, width='200', alt='лого')
            .row__col-smallest-12.row__col-M-none.row__col-L-2.row__col-XL-3
               .footer__office-hours
                  .footer__office-hours-title Часы работы:
                  .footer__office-hours-text.generic-content-container.
                     с 9:00 до 22:00 #[span (без выходных)]
            .row__col-smallest-12.row__col-M-4.row__col-L-3
               .footer__phone.phone-block.phone-block--light
                  .phone-block__comment Звоните круглосуточно
                  .phone-block__number: a(href=`tel:${phoneNumber.replace(/\s/g, "")}`)= phoneNumber
            .row__col-smallest-12.row__col-M-4.row__col-L-3
               .footer__clbk-block: button.btn.callback-btn.callback-btn--light= callbackBtnText
   .footer__other-link-section
      .wrapper
         .row
            .row__col-smallest-12
               .footer__other-link-bar
                  .footer__other-list-toggle Другое
                  ul.footer__other-link-list 
                     each item in otherLinkList
                        li.footer__other-list-item: a(href='/')= item
   .footer__bottom-section
      .wrapper
         .row.row--content-v-centered.row--wrap-reverse
            .row__col-smallest-12.row__col-M-7
               .footer__company-info.generic-content-container &copy; 2019-2020 Сеть семейных стоматологических клиник Den's Dent
            .row__col-smallest-12.row__col-M-5
               .footer__social-media
                  .footer__social-media-comment Присоединиться к нам в соц. сетях:
                  .footer__social-media-block
                     include ../modules/social-media
