* {
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

a {
   text-decoration: none;
   color: $mainColor;
   transition: all $transitionTime;
   cursor: pointer;

   &:hover {
      color: getDarkerColor($mainColor);
   }
}

body {
   min-width: $XXSmall;
   font-family: 'Rubik', sans-serif;
   color: $fontColor;
   font-size: $mediumFont;
   padding: 0;
   margin: 0;
}

button {
   background: none;
   border: none;
   font-family: inherit;
   font-size: $mediumFont;
   color: $fontColor;
   cursor: pointer;

   &:focus {
      outline: none;
   }
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style-type: none;
}

::selection {
   background: $accentColor;
   color: #fff;
}

:focus {
   outline-color: rgba($color: $mainColor, $alpha: 0.4);
}
